* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #eee;
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none; }

p {
  line-height: 1.5; }

ul {
  list-style-type: none; }

.whatsapp {
  position: fixed;
  bottom: 40px;
  right: 20px; }

.container, .header__content, .footer__content, .courses__content, .statistics__content {
  max-width: 1200px;
  margin: 0 auto; }

.header {
  background-color: #0f172a;
  padding: 30px 20px;
  position: sticky;
  top: 0;
  z-index: 1; }
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__content-title {
      color: #22c55e; }
      .header__content-title:hover::after {
        content: 'inicio';
        margin-left: 8px;
        font-size: 14px;
        color: #e2e8f0; }
    .header__content-navbar {
      display: flex;
      align-items: center; }
      .header__content-navbar li {
        margin: 0 15px;
        transition: all 0.3s; }
        .header__content-navbar li:last-child {
          border: 1px solid #22c55e;
          border-radius: 10px;
          padding: 10px;
          margin-right: 0; }
        .header__content-navbar li:active {
          transform: scale(0.9); }
        .header__content-navbar li a {
          color: #e2e8f0;
          font-weight: bold;
          transition: all 0.3s; }
          .header__content-navbar li a:hover {
            color: #22c55e; }

@media (max-width: 768px) {
  .header__content-navbar {
    display: none; } }

.footer {
  background-color: #0f172a;
  color: #e2e8f0;
  padding: 60px 20px; }
  .footer__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px; }
    .footer__content h4 {
      color: #22c55e;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 20px; }
    .footer__content-list li {
      margin: 10px 0; }
    .footer__content-list a {
      color: #e2e8f0;
      transition: all 0.3s; }
      .footer__content-list a:hover {
        color: #22c55e; }
  .footer__rrss {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px; }
    .footer__rrss .rs-github {
      color: #e2e8f0;
      font-size: 30px;
      transition: all 0.3s; }
      .footer__rrss .rs-github:hover {
        color: #22c55e; }
    .footer__rrss .rs-twitter {
      color: #e2e8f0;
      font-size: 30px;
      transition: all 0.3s; }
      .footer__rrss .rs-twitter:hover {
        color: #55acee; }
    .footer__rrss .rs-instagram {
      color: #e2e8f0;
      font-size: 30px;
      transition: all 0.3s; }
      .footer__rrss .rs-instagram:hover {
        color: #c92d8f; }
    .footer__rrss .rs-facebook {
      color: #e2e8f0;
      font-size: 30px;
      transition: all 0.3s; }
      .footer__rrss .rs-facebook:hover {
        color: #2279e4; }
  .footer__copy {
    margin-top: 40px;
    text-align: center;
    color: #94a3b8; }

@media (max-width: 576px) {
  .footer__content {
    grid-template-columns: 1fr; } }

.courses {
  margin-top: 60px;
  padding: 0 20px; }
  .courses__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px; }
  .courses__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px; }
    .courses__content .card {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
      transition: all 0.3s;
      /* relative: flujo normal del documento */
      /* absolute: es removido del flujo normal */ }
      .courses__content .card:hover {
        transform: translateY(-15px); }
      .courses__content .card__header {
        position: relative; }
        .courses__content .card__header-tag {
          position: absolute;
          padding: 8px;
          right: 0;
          color: #fff;
          background-color: rgba(255, 255, 255, 0.5);
          border-bottom-left-radius: 10px; }
          .courses__content .card__header-tag--strong {
            text-transform: uppercase;
            font-weight: bold; }
        .courses__content .card__header-img {
          width: 100%;
          border-radius: 10px;
          margin-bottom: 20px; }
      .courses__content .card__title {
        font-size: 20px;
        margin-bottom: 20px; }
      .courses__content .card__description {
        margin-bottom: 40px; }
      .courses__content .card__link {
        background-color: #22c55e;
        width: 100%;
        display: inline-block;
        padding: 15px 0;
        text-align: center;
        color: #e2e8f0;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        transition: all 0.3s;
        position: relative; }
        .courses__content .card__link:hover {
          background-color: #1ca24d; }
          .courses__content .card__link:hover::after {
            content: '\276F';
            position: absolute;
            right: 20px; }

.statistics {
  margin-top: 80px;
  padding: 100px 20px;
  background-image: url("../assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .statistics__content {
    display: flex;
    justify-content: space-evenly;
    color: #e2e8f0; }
    .statistics__content-data {
      font-size: 40px;
      text-align: center; }
      .statistics__content-data span {
        display: block;
        font-size: 20px;
        margin-top: 5px; }

@media (max-width: 992px) {
  .courses__content {
    grid-template-columns: repeat(2, 1fr); }
  .hero__content {
    grid-template-columns: 1fr; } }

@media (max-width: 576px) {
  .courses__content {
    grid-template-columns: 1fr; }
  .statistics__content {
    flex-direction: column; }
    .statistics__content-data {
      margin: 30px 0; } }
